/* ResultsTable.module.css */
.wrapper {
  margin: 10px;
}
.table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #e0e0e0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.theadRow {
  background-color: #f0fdf4; /* Light green background */
  color: #166534; /* Dark green text */
}

.th {
  border: 1px solid #e0e0e0;
  padding: 0.75rem 0.5rem;
  text-align: left;
  font-weight: bold;
  font-size: 0.9rem;
}

.tbodyRow {
  border: 1px solid #e0e0e0;
}

.tbodyRow:hover {
  background-color: #f5f5f5; /* Light gray on hover */
}

.td {
  border: 1px solid #e0e0e0;
  padding: 0.5rem;
  font-size: 0.875rem;
}

.tdCenter {
  text-align: center;
}
.explanation {
  max-width: 800px;
}
